.button--small {
  font-size: 16px;
}
.button--medium {
  font-size: 18px;
}
.button--large {
  font-size: 20px;
}

.button {
  display: flex;
}

.button > span {
  align-self: center;
  display: inline-block;
}

.button > span + span {
  margin-left: 6px;
}
