:root {
  --buttonBorderColor: var(--standardStateColor);
  --buttonBgColor: var(--standardStateColor);
  --buttonFontColor: #fff;
}

.secondary {
  --buttonFontColor: var(--standardStateColor);
}

.secondary.button--error {
  --buttonFontColor: var(--errorStateColor);
}
.secondary.button--warn {
  --buttonFontColor: var(--warnStateColor);
}
.secondary.button--info {
  --buttonFontColor: var(--infoStateColor);
}
.secondary.button--success {
  --buttonFontColor: var(--successStateColor);
}

.button--error {
  --buttonBorderColor: var(--errorStateColor);
  --buttonBgColor: var(--errorStateColor);
}

.button--warn {
  --buttonBorderColor: var(--warnStateColor);
  --buttonBgColor: var(--warnStateColor);
}

.button--info {
  --buttonBorderColor: var(--infoStateColor);
  --buttonBgColor: var(--infoStateColor);
}

.button--success {
  --buttonBorderColor: var(--successStateColor);
  --buttonBgColor: var(--successStateColor);
}

.button {
  border-radius: var(--borderRadius);
  padding: 4px 12px;
  font-size: 1rem;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  color: var(--buttonFontColor);
  border-color: var(--buttonBorderColor);
  background-color: var(--buttonBgColor);
}

.button:hover {
  opacity: .9;
}

.button:disabled {
  opacity: .3;
  cursor: auto;
}



.secondary {
  background: #fff;
}
