.button {
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 1rem;
  opacity: .8;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.button:disabled {
  opacity: .3;
  cursor: auto;
}

.primary {
  background: rgb(254, 127, 0);
  border: 1px solid rgb(254, 127, 0);
  color: #fff;
}

.secondary {
  border: 1px solid rgb(254, 127, 0);
  color: rgb(254, 127, 0);
  background: #fff;
}

.ghost {
  border: 1px solid #ccc;
  background: #efefef;
  color: #333;
}