:root {
  --messageStateColor: var(--standardStateColor);
  --messageIconFontSize: 1.6em;
  --messageIconLineHeight: 1.1em;
}

.message.message--info {
  --messageStateColor:var(--infoStateColor);
  --messageIconFontSize: 1.9em;
  --messageIconLineHeight: .8em;
}


.message.message--error {
  --messageStateColor:var(--errorStateColor);
  --messageIconFontSize: 1.9em;
  --messageIconLineHeight: .8em;
}

.message.message--success {
  --messageStateColor:var(--successStateColor);
}

.message.message--warn {
  --messageStateColor:var(--warnStateColor);
}


.message {
  padding: 1em 1em 1em 1.4em;
  text-align: left;
  border-left-width: .5em;
  border-left-style: solid;
  position: relative;
  border-radius: var(--borderRadius);
  margin-bottom: 1em;
  background: #fff;
  border-left-color: var(--messageStateColor);
}

.message--iconContainer {
  width:  1.9em;
  height: 1.9em;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: .4em;
  top: 0; left: -1.6em; bottom: 0;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: var(--messageStateColor);
  color: var(--messageStateColor);
}

.message--icon {
  /* background-color: teal; */
  display: block;
  font-size: var(--messageIconFontSize);
  line-height: var(--messageIconLineHeight);
}

.message--pre {
  font-size: 1.1em;
  color: #333;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0;
  margin:0;
}

.message--buttonContainer {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0; bottom: 0;
  right: 1em;
  height: 40px;
}