.formLineItem {
  display: flex;
  gap: 8px 32px;
}

/* mobile only */
@media screen and (max-width: 767px) {
  .formLineItem {
    flex-direction: column;
  }
}
/* tablet + */
@media screen and (min-width: 768px) {
  .formLineItem {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
  }
}