:root {
  --altTableBgColor: #fff;
}

.dark {
  --altTableBgColor: var(--greyDark);
}

.list--container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}


.list--header {
  background-color: var(--BackgroundColorReversed);
  color: var(--fontColorReversed);
  font-weight: bold;
}

.list--body {
  border-bottom: 1px solid #ccc;
}

.list--row:nth-child(even) {
  background: var(--altTableBgColor);
}

.list--head_status,
.list--body_status {
  text-align: right;
  vertical-align: top;
}

.list--row-removed {
  background: rgb(255, 212, 212);
}

.list--item_desc {
  font-size: 14px;
}