:root {
  --fontColor: #333;
  --fontColorReversed: #FFF;
  --backgroundColorContent: #fff;
  --BackgroundColorReversed: #282c34;
  --fontColorLink: teal;
}

.dark {
    --fontColor: #FFF;
    --fontColorReversed: #333;
    --backgroundColorContent: #blue;
    --BackgroundColorReversed: #FFF;
    --fontColorLink: teal;
}

a {
  color: var(--fontColorLink);
}

.App-header {
  background-color: var(--BackgroundColorReversed);
  color: var(--fontColorReversed);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 2vmin;
  justify-content: space-between;
  padding: .5vh 2vw 0;
}

.App-header__logo,
.App-header__login {
  padding-bottom: .5vh;
}

.App-header__nav {
  align-self: flex-end;
}

.App-main {
  background-color: var(--backgroundColorContent);
  color: var(--fontColor);
  min-height: 50vh;
  padding: 1.5vh 2vw;
}

.App-footer {
  background-color: var(--BackgroundColorReversed);
  color: var(--fontColorReversed);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3vmin;
  justify-content: right;
  padding: .5vh 2vw;
}