.grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* .grid-columns {
  grid-auto-flow: column;
} */

.element {
  margin-bottom: 32px;
}

.admin__reporting-section {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 2px solid #eee;
}

.admin__reporting-section h3 {
  margin-bottom: 20px;
}
